/* Full page background */
.create-page {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #0f2027 0%, #357e9e 57.93%, #478093 90.62%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

/* Centered container */
.create-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  gap: 60px;
}

/* Left box */
.create-left {
  background: rgba(0, 0, 0, 0.3);
  padding: 40px;
  border-radius: 12px;
  width: 500px;
  text-align: center;
  color: #fff;
}

.create-left h2 {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
}

/* Form styling */
.create-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-group {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding: 8px 0;
}

.input-group i {
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
}

.input-icon {
  width: 30px;
  height: 30px;
  background-color: transparent;
  margin-right: 10px;
  margin-bottom: 5px;
}

.input-group input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
}

.input-group input::placeholder {
  color: #fff;
  opacity: 0.8;
}

/* Button */
.next-btn {
  margin-top: 20px;
  background: #4a9ee2;
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.next-btn:hover {
  background: #357eb5;
}

/* Right image */
.create-right img {
  width: 300px;
  max-width: 100%;
}

/* Responsive */
@media (max-width: 900px) {
  .create-container {
    flex-direction: column;
    text-align: center;
  }

  .create-left {
    width: 100%;
  }

  .create-right img {
    margin-top: 20px;
  }
}
